@media screen and (min-width: 900px) {
  .link-sweep {
    background: none;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(50%, transparent));
    background-image: linear-gradient(to right, transparent 50%, transparent 50%);
    background-size: 200% 50%;
    background-position: right bottom;
    background-clip: padding-box;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .link-sweep:hover {
    background-position: left bottom;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #e1e3e6), color-stop(50%, transparent));
    background-image: linear-gradient(to right, #e1e3e6 50%, transparent 50%);
  }
  #screencloud-link:hover {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #fccf00), color-stop(50%, transparent));
    background-image: linear-gradient(to right, #fccf00 50%, transparent 50%);
  }
  #makeitcheaper-link:hover {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #19d7c5), color-stop(50%, transparent));
    background-image: linear-gradient(to right, #19d7c5 50%, transparent 50%);
  }
  #glofox-link:hover {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #b8f17a), color-stop(50%, transparent));
    background-image: linear-gradient(to right, #b8f17a 50%, transparent 50%);
  }
  #hyperion-link:hover {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #a6e2f9), color-stop(50%, transparent));
    background-image: linear-gradient(to right, #a6e2f9 50%, transparent 50%);
  }
  .button-sweep {
    background-size: 200% 50%;
    background-position: right bottom;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .button-sweep:hover {
    -webkit-transform: scale(0.96) !important;
            transform: scale(0.96) !important;
    background-position: left bottom;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(15, 30, 44, 0.1)), color-stop(50%, transparent));
    background-image: linear-gradient(to right, rgba(15, 30, 44, 0.1) 50%, transparent 50%);
  }
  #glofox-view-project:hover {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(153, 182, 240, 0.22)), color-stop(50%, transparent));
    background-image: linear-gradient(to right, rgba(153, 182, 240, 0.22) 50%, transparent 50%);
  }
  #thrive-view-project:hover {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(255, 255, 255, 0.18)), color-stop(50%, transparent));
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.18) 50%, transparent 50%);
  }
  #info div:hover {
    -webkit-transform: scale(0.94) !important;
            transform: scale(0.94) !important;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(15, 30, 44, 0.1)), color-stop(50%, transparent));
    background-image: linear-gradient(to right, rgba(15, 30, 44, 0.1) 50%, transparent 50%);
  }
  .project-nav:hover, .full-width-button:hover {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(15, 30, 44, 0.05)), color-stop(50%, transparent));
    background-image: linear-gradient(to right, rgba(15, 30, 44, 0.05) 50%, transparent 50%);
  }
  #light-background:hover {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(255, 255, 255, 0.05)), color-stop(50%, transparent));
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.05) 50%, transparent 50%);
  }
  #social div:hover {
    -webkit-transform: scale(0.92) !important;
            transform: scale(0.92) !important;
  }
  #social-hyperion:hover {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #d4eefb), color-stop(50%, transparent));
    background-image: linear-gradient(to right, #d4eefb 50%, transparent 50%);
  }
  #social-github:hover {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #dedede), color-stop(50%, transparent));
    background-image: linear-gradient(to right, #dedede 50%, transparent 50%);
  }
  #social-behance:hover {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #cedefb), color-stop(50%, transparent));
    background-image: linear-gradient(to right, #cedefb 50%, transparent 50%);
  }
  #social-ph:hover {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #f9d9d1), color-stop(50%, transparent));
    background-image: linear-gradient(to right, #f9d9d1 50%, transparent 50%);
  }
}
/*# sourceMappingURL=hover-effects.css.map */