@media screen and (min-width: 900px) {

/* SWEEPS */

.sweep {
  background: none;
  background-image: linear-gradient(to right, rgba(225, 227, 230, 0) 50%, rgba(255, 255, 255, 0) 50%);
  background-size: 200% 50%;
  background-position: right bottom;
  background-clip: padding-box;
  transition: all 0.2s ease-out;
}

.sweep:hover {
    background-position: left bottom;
    background-image: linear-gradient(to right, rgba(225, 227, 230, 1) 50%, rgba(255, 255, 255, 0) 50%);
}


/* Specific customisations */
/* These IDs are responsible for customising the background colour of links at the top. They use 0 alpha to fix a bug on non retina devices. */
#screencloud-link {
  background-image: linear-gradient(to right, rgba(252, 207, 0, 0) 50%, rgba(255, 255, 255, 0) 50%);
}

#makeitcheaper-link{
  background-image: linear-gradient(to right, rgba(25, 215, 197, 0) 50%, rgba(255, 255, 255, 0) 50%);
}

#glofox-link{
  background-image: linear-gradient(to right, rgba(184, 241, 122, 0) 50%, rgba(255, 255, 255, 0) 50%);
}

#hyperion-link{
  background-image: linear-gradient(to right, rgba(166, 226, 249, 0) 50%, rgba(255, 255, 255, 0) 50%);
}

/* The hover effect then turns the colour of the gradient back to 1 alpha */
#screencloud-link:hover {
  background-image: linear-gradient(to right, rgba(252, 207, 0, 1) 50%, rgba(255, 255, 255, 0) 50%);
}

#makeitcheaper-link:hover {
  background-image: linear-gradient(to right, rgba(25, 215, 197, 1) 50%, rgba(255, 255, 255, 0) 50%);
}

#glofox-link:hover{
  background-image: linear-gradient(to right, rgba(184, 241, 122, 1) 50%, rgba(255, 255, 255, 0) 50%);
}

#hyperion-link:hover{
  background-image: linear-gradient(to right, rgba(166, 226, 249, 1) 50%, rgba(255, 255, 255, 0) 50%);
}

/* These IDs and classes are responsible for customising the background colour of the view project buttons */
.view-project:hover{
  opacity: 1 !important;
}

#glofox-view-project, #thrive-view-project {
  background-image: linear-gradient(to right, white 50%, rgba(255, 255, 255, 0) 50%);
}

#webfaction-view-project, #mic-view-project {
  background-image: linear-gradient(to right, #0F1E2C 50%, rgba(255, 255, 255, 0) 50%);
}


/* These IDs and classes are responsible for customising the text and border colours of the view project buttons */
#glofox-view-project:hover, #thrive-view-project:hover {
  border: 1px solid #fff;
}

#webfaction-view-project:hover {
  border: 1px solid #0F1E2C;
}

#glofox-view-project:hover span, #glofox-view-project:hover i{
  color: #2b4ea4 !important;
  text-decoration: none;
}

#thrive-view-project:hover span, #thrive-view-project:hover i{
  color: #121416 !important;
  text-decoration: none;
}

#webfaction-view-project:hover span, #webfaction-view-project:hover i {
  color: #fff !important;
  text-decoration: none;
}



/* RIPPLES */

/* Behance Ripple */
@-webkit-keyframes behance-ripple {
    100% {
      top: -12px;
      right: -12px;
      bottom: -8px;
      left: -12px;
      opacity: 0;
      border: #c9ddff solid 3px;
    }
  }

  @keyframes behance-ripple {
    100% {
      top: -12px;
      right: -12px;
      bottom: -8px;
      left: -12px;
      opacity: 0;
      border: #bcd5ff solid 3px;
    }
  }

  .behance-ripple {
    display: inline-block;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
  }

  .behance-ripple:before {
    content: '';
    position: absolute;
    border: #e4eeff solid 3px;
    top: 0;
    right: 0;
    bottom: 5px;
    left: 0;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    border-radius: 30px;
  }
  .behance-ripple:hover:before, .behance-ripple:focus:before, .behance-ripple:active:before {
    -webkit-animation-name: behance-ripple;
    animation-name: behance-ripple;
  }

  /* Github Ripple */
  @-webkit-keyframes github-ripple {
    100% {
      top: -12px;
      right: -12px;
      bottom: -8px;
      left: -12px;
      opacity: 0;
      border: #cccdcf solid 3px;
    }
  }

  @keyframes github-ripple {
    100% {
      top: -12px;
      right: -12px;
      bottom: -8px;
      left: -12px;
      opacity: 0;
      border: #ebebeb solid 3px;
    }
  }

  .github-ripple {
    display: inline-block;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
  }
  .github-ripple:before {
    content: '';
    position: absolute;
    border: #eaebeb solid 3px;
    top: 0;
    right: 0;
    bottom: 5px;
    left: 0;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    border-radius: 30px;
  }
  .github-ripple:hover:before, .github-ripple:focus:before, .github-ripple:active:before {
    -webkit-animation-name: github-ripple;
    animation-name: github-ripple;
  }

  /* Hyperion Ripple */
  @-webkit-keyframes hyperion-ripple {
    100% {
      top: -12px;
      right: -12px;
      bottom: -8px;
      left: -12px;
      opacity: 0;
      border: #d2f3fd solid 3px;
    }
  }

  @keyframes hyperion-ripple {
    100% {
      top: -12px;
      right: -12px;
      bottom: -8px;
      left: -12px;
      opacity: 0;
      border: #d2f3fd solid 3px;
    }
  }

  .hyperion-ripple {
    display: inline-block;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
  }
  .hyperion-ripple:before {
    content: '';
    position: absolute;
    border: #e8f7fe solid 3px;
    top: 0;
    right: 0;
    bottom: 5px;
    left: 0;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    border-radius: 30px;
  }
  .hyperion-ripple:hover:before, .hyperion-ripple:focus:before, .hyperion-ripple:active:before {
    -webkit-animation-name: hyperion-ripple;
    animation-name: hyperion-ripple;
  }

}

/* PH Ripple */
@-webkit-keyframes ph-ripple {
    100% {
      top: -12px;
      right: -12px;
      bottom: -8px;
      left: -12px;
      opacity: 0;
      border: #FFEBE7 solid 3px;
    }
  }

  @keyframes ph-ripple {
    100% {
      top: -12px;
      right: -12px;
      bottom: -8px;
      left: -12px;
      opacity: 0;
      border: #FFEBE7 solid 3px;
    }
  }

  .ph-ripple {
    display: inline-block;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
  }
  .ph-ripple:before {
    content: '';
    position: absolute;
    border: #FFEBE7 solid 3px;
    top: 0;
    right: 0;
    bottom: 5px;
    left: 0;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    border-radius: 30px;
  }
  .ph-ripple:hover:before, .ph-ripple:focus:before, .ph-ripple:active:before {
    -webkit-animation-name: ph-ripple;
    animation-name: ph-ripple;
  }



/* Next Project Button Ripple */
@-webkit-keyframes next-ripple {
  100% {
    top: -14px;
    right: -14px;
    bottom: -14px;
    left: -14px;
    opacity: 0;
    /* border: #dadada solid 3px; */
  }
}

@keyframes next-ripple {
  100% {
    top: -14px;
    right: -14px;
    bottom: -14px;
    left: -14px;
    opacity: 0;
    /* border: #dadada solid 3px; */
  }
}

.next-ripple {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
}

.next-ripple:before {
  content: '';
  position: absolute;
  border: #f0f0f0 solid 3px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  border-radius: 10px;
}

.next-ripple:hover:before, .next-ripple:focus:before, .next-ripple:active:before {
  -webkit-animation-name: next-ripple;
  animation-name: next-ripple;
}


.next-ripple-dark {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
}

.next-ripple-dark:before {
  content: '';
  position: absolute;
  border: #202224 solid 3px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  border-radius: 10px;
}

.next-ripple-dark:hover:before, .next-ripple-dark:focus:before, .next-ripple-dark:active:before {
  -webkit-animation-name: next-ripple;
  animation-name: next-ripple;
}
