// Colours
$sc-link: rgb(252, 207, 0);
$mic-link: rgb(25, 215, 197);
$glofox-link: rgb(184, 241, 122);
$hyperion-link: rgb(166, 226, 249);


@media screen and (min-width: 900px) {

  .sweep {
    background: none;
    background-image: linear-gradient(to right, transparent 50%, rgba(255, 255, 255, 0) 50%);
    background-size: 200% 50%;
    background-position: right bottom;
    background-clip: padding-box;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .sweep:hover {
      background-position: left bottom;
      background-image: linear-gradient(to right, rgba(225, 227, 230, 1) 50%, transparent 50%);
  }


  /* Specific customisations */

  /* The hover effect then turns the colour of the gradient back to 1 alpha */
  #screencloud-link:hover {
    background-image: linear-gradient(to right, rgba(var($mic-link), 1) 50%, transparent 50%);
  }

  #makeitcheaper-link:hover {
    background-image: linear-gradient(to right, rgba(25, 215, 197, 1) 50%, transparent 50%);
  }

  #glofox-link:hover{
    background-image: linear-gradient(to right, rgba(184, 241, 122, 1) 50%, transparent 50%);
  }

  #hyperion-link:hover{
    background-image: linear-gradient(to right, rgba(166, 226, 249, 1) 50%, transparent 50%);
  }

}