/* General */

::selection {
    color: #fff; 
    background: #272c35;
}

body {
    font-family:"Tisa W01 Light", serif;
    color: #000;
    margin: 0;
    padding: 0;
}

a {
    font-family:"Tisa W01 Medium", serif;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
}

p {
    font-size: 19px; 
    line-height: 1.8;
}

h1{
    font-size: 50px;
    line-height: 1.2;
    margin: 0 0 40px 0;
    padding: 0;
}

h2{
    font-size: 40px;
    margin: 0;
    padding: 0;
}

h3{
    font-family: "Tisa W01 Medium", serif;
    font-size: 36px;
    margin: -5px 0 40px 0;
    padding: 0;
}

.container{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.container img {
    display: none;
}

.bold {
    font-family: "Tisa W01 Medium", serif;
}

.inline {
    display: inline-block;
}

.narrow-container {
    max-width: 650px;
    margin: 0 auto;
    padding: 70px;
}

.narrow-container .container{
    margin-bottom: 40px;
}

.narrow-container h2{
    font-size: 50px;
    margin-left: 70px;
    position: relative;
    left: -70px;
}

.narrow-container p{
    font-size: 18px;
}

.back-button{
    display: inline;
    cursor: pointer;
    position: relative;
    margin-left: -80px;
    top: 50px;
    opacity: .3;
}

.back-button:hover{
    opacity: .4;
}

.back-button img{
    display: inline;
    cursor: pointer;
}

.modal{
    position:fixed;
    left:0;
    top:0;
    background-color:rgba(0,0,0,0.7);
    display: none;
    width: 100%;
    height: 100%;
}

.modal-content{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 360px;
    width: 360px;
    background-color: #fff;
    padding: 40px 40px 34px 40px;
    border-radius: 10px;
}

.modal-content #contact-details {
    width: 235px;
}

.modal-content .modal-button{
  max-width: 650px;
  display: block;
  margin: 40px auto 0 auto;
  text-align: center;
  border-radius: 8px;
  position: relative !important;
  opacity: 1 !important;
  background-color: rgba(0, 0, 0, 0.06);
  padding: 20px 0;
}

.modal-content .modal-button:hover{
  transform: scale(0.985);
  cursor: pointer;
}

.modal-open{
    display: inherit;
}

.scroll-disabled{
    overflow: hidden;
}


/* View Project Button */

.view-project{
    display: inline-block;
    opacity: .5;
    color: #000;
    padding: 14px 24px !important;
    cursor: pointer;
    position: relative;
    border-radius: 6px;
    padding: 20px;
    border: 1px solid #000;
    z-index: 1;
    -webkit-transition: left 0.2s;
    transition: left 0.2s;
}

.view-project span{
    font-family: "San Francisco", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: none;
}

.view-project i{
    margin-left: 5px;
}

.number{
    opacity: .2;
    font-family: "Tisa W01 Regular", serif;
    margin-bottom: 20px;
}



/* Personal Section */

#header-block{
    padding: 120px 50px 120px 50px;
    z-index: 20;
}

#header-block a:hover{
    text-decoration: underline;
}

#info{
    margin-top: 40px !important;
    font-size: 18px;
}

#info p{
    margin: 0 0 -2px 0;
    padding: 0;
}

#info a{
    font-family: "Tisa W01 Medium", serif;
    position: relative;
    left: -2px;
}

#info a:hover{
    opacity: 1;
}


/* Glofox Section */

#glofox-block{
    background-color: #2b4ea4;
    height: 800px;
    /* padding-left: 50px; */
}

#glofox-block .container{
    background-image: url("../images/glofox.png");
    background-size: 740px 854px;
    background-repeat: no-repeat;
    background-position-y: 55px;
    height: 1200px;
}

#glofox-block .container .text{
    padding: 100px 0 0 430px;
    z-index: 1;
    width: 350px;
    color: #fff;
}

#glofox-block .view-project{
    color: #fff !important;
    border: 1px solid rgba(255, 255, 255, 0.6);
}

#glofox-block .view-project span, #glofox-block .view-project i{
    color: #fff;
}



/* Webfaction Section */

#webfaction-block{
    height: 830px;
}

#webfaction-block .container{
    background-image: url("../images/webfaction.png");
    background-size: 795px 397px;
    background-repeat: no-repeat;
    background-position-y: 360px;
    height: 100%;
}

#webfaction-block h1{
    width: 500px;
}

#webfaction-block .text{
    z-index: 1;
    padding-top: 60px;
}

#webfaction-block .view-project{
    opacity: 0.4;
    border: 1px solid rgba(0, 0, 0, 0.7);
}


/* EQ Playbook Section */

#eq-block {
    background-color: #e6edf4;
    height: 660px;
    padding-top: 100px;
}

#eq-block .container{
    background-image: url("../images/eq-playbook.png");
    background-size: 640px 666px;
    background-repeat: no-repeat;
    height: 100%;
}

#eq-img{
    z-index: -1;
    width: 640px;
    float: left;
    margin-top: 60px;
}

#eq-block .container .text{
    padding: 50px 0 0 460px;
    width: 365px;
}

#eq-block .view-project{
    border: 1px solid rgba(0, 0, 0, 0.8);
}

/* MIC Section */

#mic-block {
    height: 660px;
    padding-top: 60px;
}

#mic-block .container{
    background-image: url("../images/mic.jpg");
    background-size: 785px 337px;
    background-repeat: no-repeat;
    height: 100%;
    background-position: right bottom; 
    max-width: 1000px;
    padding-left: 200px;
}

#mic-block h1{
    width: 660px;
}

#mic-block .fa-lock{
    margin: 0 8px 0 0;
}

#mic-block .view-project{
    opacity: 0.4;
    border: 1px solid rgba(0, 0, 0, 0.7);
}

/* Footer */

#footer{
    padding: 50px 0 60px 0;
    text-align: center;
    /* border-top: 1px solid rgba(0, 0, 0, 0.1); */
    /* background-color: rgba(0, 0, 0, 0.05); */
}

#footer span{
    position: relative;
    top: 1px;
}

#footer .small{
    font-size: 14px;
    font-family: "San Francisco", "Helvetica Neue", Arial, Helvetica, sans-serif;
    opacity: 0.4;
    margin: -5px 0 30px 0;
}

#social{
    margin-left: auto;
    margin-right: auto;
}

#social img{
    height: 42px;
}

#footer p{
    margin: 0;
    font-size: 24px;
}

#social a{
    margin: 0 5px 0 5px;
    border: none;
    border-radius: 30px;
    transition: all .02s ease-in-out;
}

#social a:hover{
    transform: scale(0.94);
}

#mobile-projects{
    display: none;
}

#mobile-social{
    display: none;
}

.continue-navigation{
    display: none;
    width: 100%;
    text-align: center;
    border-radius: 8px;
    position: relative !important;
    opacity: 1 !important;
    background-color: rgba(0, 0, 0, 0.06);
    padding: 20px 0;
    margin-bottom: 30px;
}

.mobile-show{
    display: none;
}